<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-label>[TONYMOLY] Master Lab Mask Sheet - 3pcs</ion-label>
</ion-item>

<ion-item>
    <ion-checkbox slot="start" checked></ion-checkbox>
    <ion-label>Innisfree bija Trouble Facial Foam 150ml</ion-label>
  </ion-item>

  <ion-item>
      <ion-checkbox slot="start" checked></ion-checkbox>
      <ion-label>Cover For iPhone 8 Soft </ion-label>
    </ion-item>

    <ion-item>
        <ion-checkbox slot="start" checked></ion-checkbox>
        <ion-label>CD Ariana Grande - thank u next</ion-label>
      </ion-item>

</ion-content>
