<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Track
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://cdn.pixabay.com/photo/2018/01/26/23/11/cardboard-boxes-3110034_1280.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Track your package</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Track all your packages from Wish, Aliexpress, Gearbest, Banggood, Taobao, eBay, ASOS, Wiggle, Chain Reaction Cycles in one place.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-icon slot="start" color="medium" name="cube"></ion-icon>
        <ion-label>Delivered</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon slot="start" color="medium" name="cube"></ion-icon>
          <ion-label>Picked up by partner DEM</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="medium" name="cube"></ion-icon>
            <ion-label>Left with individual</ion-label>
          </ion-item>
          <ion-item>
              <ion-icon slot="start" color="medium" name="cube"></ion-icon>
              <ion-label>Picked up by partner</ion-label>
            </ion-item>
    </ion-list>
</ion-content>
