<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Account
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
          <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="https://pp.userapi.com/c851532/v851532683/54e05/ZWkCetoTeIk.jpg">
      <ion-card-title text-center>Katja Vuono</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <li><b>Address:</b> Rappavuorentie 3</li>
        <li><b>Phone number:</b> 000000</li>
        <li><b>@:</b> katerinavuono</li>
      </ul>
    </ion-card-content>

  </ion-card>
  <ion-button shape="round" color="dark" slot="end">Edit</ion-button>
</ion-content>
